server:
  port: 8080

spring:

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri:

  application:
    name: customer

  profiles:
    active: loc

  datasource:
    platform: postgres
    url: jdbc:tc:postgresql:11-alpine:///customer-integrationtest
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver

  jpa:
    properties:
      org:
        hibernate:
          envers:
            default_schema: audit
    database: postgresql

  cloud:
    consul:
      enabled: false
      config:
        enabled: false
        watch:
          enabled: false
      discovery:
        enabled: false
    discovery:
      enabled: false